In [3]:
import numpy as np
import pandas as pd

In [4]:
monthly_data = pd.read_excel("./data/Monthly Data.xlsx")

In [15]:
monthly_data["Month"] = pd.to_datetime(monthly_data["Month"], errors='coerce')

In [16]:
monthly_data.head()

,Provider_Code,Month,AandE_Attends_Type1,Attends_Under_4Hrs_Arr_To_Adm_Tfr_Disch_Type1,Attends_Over_4Hrs_Arr_To_Adm_Tfr_Disch_Type1,Emerg_Adms_Via_Type1,Emerg_Adms_Not_Via_AandE,Dec_To_Adm_4_to_12Hrs,Dec_To_Adm_Over_12Hrs
0,R0A,2023-03-31,26945,12338,14607,5323,617,3053,102
1,R0B,2023-03-31,12076,6755,5321,4298,1272,1162,4
2,R1F,2023-03-31,3594,2161,1433,1218,264,504,232
3,R1H,2023-03-31,23488,12383,11105,5346,1172,3138,812
4,R1K,2023-03-31,13154,6863,6291,6804,1345,906,420

In [7]:
x = monthly_data.groupby('Provider_Code')

In [12]:
selected_Provider = x.get_group('R0A')
selected_Provider.head()

,Provider_Code,Month,AandE_Attends_Type1,Attends_Under_4Hrs_Arr_To_Adm_Tfr_Disch_Type1,Attends_Over_4Hrs_Arr_To_Adm_Tfr_Disch_Type1,Emerg_Adms_Via_Type1,Emerg_Adms_Not_Via_AandE,Dec_To_Adm_4_to_12Hrs,Dec_To_Adm_Over_12Hrs
0,R0A,2023-03-31,26945,12338,14607,5323,617,3053,102
110,R0A,2023-02-28,21588,8261,13327,5781,354,3050,162
220,R0A,2023-01-31,21896,8745,13151,6051,499,3041,523
330,R0A,2022-12-31,28410,9516,18894,6142,453,3381,780
440,R0A,2022-11-30,28262,9558,18704,6028,343,3562,449

In [13]:
selected_Provider.describe()

,AandE_Attends_Type1,Attends_Under_4Hrs_Arr_To_Adm_Tfr_Disch_Type1,Attends_Over_4Hrs_Arr_To_Adm_Tfr_Disch_Type1,Emerg_Adms_Via_Type1,Emerg_Adms_Not_Via_AandE,Dec_To_Adm_4_to_12Hrs,Dec_To_Adm_Over_12Hrs
count,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,27528.666667,11910.583333,15618.083333,6830.083333,1165.416667,3298.000000,241.333333
std,3139.719540,2989.370668,2123.439768,958.058497,756.628341,293.083296,249.344717
min,21588.000000,8261.000000,13151.000000,5323.000000,343.000000,2767.000000,9.000000
25%,26819.750000,9547.500000,13802.500000,6045.250000,446.000000,3052.250000,56.000000
50%,28207.000000,11084.000000,15053.500000,6864.000000,1144.500000,3327.000000,144.500000
75%,29112.750000,14790.000000,17266.750000,7662.250000,1882.500000,3576.500000,449.250000
max,31658.000000,16740.000000,18894.000000,8115.000000,2056.000000,3637.000000,780.000000

In [25]:
sample_std = selected_Provider.std(ddof=0)
sample_mean = selected_Provider.mean()
sample_std

C:\Users\Hp\AppData\Local\Temp\ipykernel_16776\1324956101.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sample_std = selected_Provider.std(ddof=0)
C:\Users\Hp\AppData\Local\Temp\ipykernel_16776\1324956101.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  sample_mean = selected_Provider.mean()
C:\Users\Hp\AppData\Local\Temp\ipykernel_16776\1324956101.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sample_mean = selected_Provider.mean()

Month                                            105 days 04:55:31.243551704
AandE_Attends_Type1                                              3006.052598
Attends_Under_4Hrs_Arr_To_Adm_Tfr_Disch_Type1                    2862.104513
Attends_Over_4Hrs_Arr_To_Adm_Tfr_Disch_Type1                     2033.038795
Emerg_Adms_Via_Type1                                              917.271176
Emerg_Adms_Not_Via_AandE                                          724.416485
Dec_To_Adm_4_to_12Hrs                                             280.605892
Dec_To_Adm_Over_12Hrs                                             238.729391
dtype: object

In [28]:
(26945-27528.666667)/3006.052598

-0.19416382380944663

In [79]:
features = [
"AandE_Attends_Type1",
"Attends_Under_4Hrs_Arr_To_Adm_Tfr_Disch_Type1",
"Attends_Over_4Hrs_Arr_To_Adm_Tfr_Disch_Type1",
"Emerg_Adms_Via_Type1",
"Emerg_Adms_Not_Via_AandE",
"Dec_To_Adm_4_to_12Hrs",
"Dec_To_Adm_Over_12Hrs",
]

std_away = (selected_Provider[features]-sample_mean[features])/sample_std[features]
std_away = std_away + (std_away > 0)
std_away = (std_away*10)//10
std_away

,AandE_Attends_Type1,Attends_Under_4Hrs_Arr_To_Adm_Tfr_Disch_Type1,Attends_Over_4Hrs_Arr_To_Adm_Tfr_Disch_Type1,Emerg_Adms_Via_Type1,Emerg_Adms_Not_Via_AandE,Dec_To_Adm_4_to_12Hrs,Dec_To_Adm_Over_12Hrs
0,-1.0,1.0,-1.0,-2.0,-1.0,-1.0,-1.0
110,-2.0,-2.0,-2.0,-2.0,-2.0,-1.0,-1.0
220,-2.0,-2.0,-2.0,-1.0,-1.0,-1.0,2.0
330,1.0,-1.0,2.0,-1.0,-1.0,1.0,3.0
440,1.0,-1.0,2.0,-1.0,-2.0,1.0,1.0
550,1.0,-1.0,2.0,-1.0,-2.0,2.0,1.0
660,-1.0,-1.0,1.0,1.0,1.0,-2.0,-1.0
770,-1.0,1.0,-2.0,1.0,1.0,2.0,-1.0
880,2.0,2.0,1.0,1.0,2.0,2.0,-1.0
990,1.0,2.0,-1.0,2.0,2.0,-1.0,-1.0
1100,2.0,2.0,-1.0,2.0,2.0,-1.0,-1.0
1210,1.0,1.0,-1.0,2.0,1.0,1.0,-1.0